@page
@model TransportApp.Pages.Vehicle.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Vehicle.Id" />

            <div class="form-group">
                <label asp-for="Vehicle.Identifier" class="control-label"></label>
                <input asp-for="Vehicle.Identifier" class="form-control"/>
                <span asp-validation-for="Vehicle.Identifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.Seats" class="control-label"></label>
                <input asp-for="Vehicle.Seats" class="form-control"/>
                <span asp-validation-for="Vehicle.Seats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.TypeId" class="control-label"></label>
                <input asp-for="Vehicle.TypeId" class="form-control"/>
                <span asp-validation-for="Vehicle.TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>